{% extends 'base.html' %}

{% block content %} 
<h1> About US </h1>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et voluptatem id ratione nobis quia mollitia ab facere accusamus commodi doloremque aut maxime deserunt, pariatur non nihil ipsa modi obcaecati ad ullam. Optio modi aliquam libero doloribus suscipit quam fugit itaque, distinctio ducimus numquam ipsam! Odio commodi obcaecati dicta adipisci eius aperiam ea necessitatibus fugiat nostrum aut doloribus numquam, qui tenetur culpa in amet labore itaque expedita voluptates? Laborum voluptates, corporis nemo iusto autem dicta animi quae non velit officiis nostrum odio itaque ad sed placeat aspernatur voluptatum similique nam aliquid nisi sit quaerat obcaecati reiciendis magni! Eaque dolor voluptas amet!</p>

<p> Website Created by : {{username}} </p>
{% endblock %}
